<style type="text/css">
	.footer {
		min-height: 100px;
	}
</style>
<section id="Footer">
	<footer class="text-muted">
		<div class="row" style="margin: 3%">
			<div class="col-md-4" style="text-align: center;">
				{% load static %}
				<img class="img-fluid logo_footer" src="{% static "images/LOGO_PRETO_PNG.png" %}" />
				<div class="col-md-12" style="color: white; font-size: xxx-large; bottom: -75%; right: 5%;">
					<a><i class="fab fa-facebook-square"></i></a>
					<a><i class="fab fa-instagram-square"></i></a>
					<a><i class="fab fa-twitter-square"></i></a>
				</div>
			</div>
			<div class="col-md-8" style="text-align: center;">
				<h4>CAMPO FINO ALIMENTOS</h4>
				<h5>Colina Transporte e Comércio de Cereais Eireli ME</h5>
				<ul class="list-unstyled text-small">
					<li><span class="text-muted" href="#">24.744.074/0001-09</span></li>
					<li><span class="text-muted" href="#">Rodovia Brigadeiro Faria Lima, Km 404</span></li>
					<div id="map-container-google-1" class="z-depth-1-half map-container map-responsive">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12552.219459415028!2d-48.53365524571935!3d-20.71845935235724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDQzJzA4LjEiUyA0OMKwMzEnMzEuNCJX!5e0!3m2!1spt-BR!2sbr!4v1588038513485!5m2!1spt-BR!2sbr"
							width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe>
					</div>
				</ul>
			</div>
		</div>
	</footer>
</section>